{include '../static/header.html' title="{$title}"}
<body>
{include '../static/common_nav.html'}
        {if isset($banners)}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {foreach $banners as $k=>$v}
                <li data-target="#carouselExampleIndicators" data-slide-to="{$k}" {if $k eq 0}class="active"{/if}></li>
                {/foreach}
            </ol>
            <div class="carousel-inner">
                {foreach $banners as $k=>$v}
                <div class="carousel-item {if $k eq 0} active{/if}">
                    <img class="d-block w-100" src="{$v.pic_url}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{$v.pic_title}</h5>

                    </div>
                </div>
                {/foreach}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {/if}
<div class="container">
    {if isset($arr)}
    {foreach $arr as $k=>$v}
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{$v.img_url}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{$v.name}</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
            <ul class="list-group list-group-flush">
                {if isset($v.article)}
                {foreach $v.article as $key=>$value}
                <li class="list-group-item"><a href="?r=article/getArticle&id={$v.id}">{$value.title}</a></li>
                {/foreach}
                {/if}
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    {/foreach}
    {/if}
</div>
{include '../static/footer.html'}
</body>
</html>